@font-face {
  src: url("../../fonts/oswaldregular.woff2") format("woff2");
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  src: url("../../fonts/oswaldmedium.woff2") format("woff2");
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
img {
  max-width: 100%;
  height: auto;
}
.button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  width: min-content;
  height: min-content;
  background-color: #68b738;
}
.button--green {
  background-color: #68b738;
  color: #ffffff;
}
.button--gray {
  background-color: #f2f2f2;
  color: #444444;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
}
.page__body {
  min-height: 100%;
  margin: 0 auto;
}
.main-header {
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-direction: column;
}
.main-header__container {
  width: 280px;
  padding: 10px 20px 20px 20px;
}
.main-header__wrapper-logo {
  display: flex;
  align-items: center;
  max-width: 280px;
  min-height: 38px;
}
.main-header__logo {
  width: 33.32px;
  height: 37.61;
}
.main-header__logo-text {
  width: 101px;
  height: 18px;
}
.main-nav {
  position: relative;
  width: 280px;
  display: flex;
  justify-content: center;
  z-index: 200;
}
.main-nav__link {
  padding: 12px 0 10px 0;
}
.main-nav__toggle {
  position: absolute;
  z-index: 2;
  top: -40px;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  background: transparent;
}
.main-nav__item {
  width: 280px;
  text-align: center;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}
.main-nav--closed .main-nav__toggle:active::before {
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.3), 0 16px 0 0 rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }
  .main-nav--closed .main-nav__item--active {
    display: block;
  }
  .main-nav--closed .main-nav__item--activ a {
    padding: 0 70px 0 70px;
    text-align: center;
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 20px;
    left: -20px;
    width: 320px;
    z-index: 100;
    min-height: 30vh;
    background-color: #ffffff;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .main-nav__item {
    display: block;
    padding: 22px 22px;
  }
  .main-nav--nojs .main-nav__item--activ a {
    padding: 0 22px 0 22px;
    text-align: center;
  }
}
.main-nav--opened .main-nav__toggle {
  z-index: 200;
  top: -30px;
  right: 0;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 24px;
  height: 1.5px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-nav--opened .main-nav__item {
  padding: 22px 22px;
}
@media (min-width: 768px) {
  .main-header {
    width: 768px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-header .main-header__container {
    display: flex;
    justify-content: space-between;
    width: 708px;
    padding: 0 30px;
  }
  .main-header .main-nav__toggle {
    display: none;
  }
  .main-header .main-header__nav-wrapper {
    width: 708px;
    display: flex;
    justify-content: space-between;
  }
  .main-header .main-header__wrapper-logo {
    min-width: 174px;
    min-height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-header .main-nav {
    min-width: 440px;
    display: flex;
  }
  .main-header .main-nav .main-nav__wrapper {
    min-width: 440px;
  }
  .main-header .main-nav .main-nav__list {
    box-sizing: border-box;
    min-height: 80px;
    min-width: 440px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .main-header .main-nav .main-nav__item {
    display: inline-block;
    margin: 0;
    padding: 12px 0 10px 0;
    width: auto;
    border: none;
  }
  .main-header .main-nav .main-nav__item--activ {
    border-bottom: 2px solid #68b738;
    box-sizing: border-box;
  }
  .main-header .main-nav .main-nav__link {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }
}
@media (min-width: 1440px) {
  .main-header {
    width: 1440px;
  }
  .main-header .main-header__container--relative {
    position: relative;
    width: 1220px;
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
  }
  .main-header .main-header__nav-wrapper--absolut {
    display: flex;
    width: 1220px;
    justify-content: space-between;
    position: absolute;
    left: 110px;
    top: 0;
  }
  .main-header .main-nav {
    min-width: 478px;
  }
  .main-header .main-nav .main-header__wrapper-logo {
    width: 202px;
    min-height: 59px;
  }
  .main-header .main-nav .main-nav__wrapper {
    min-width: 478px;
    min-height: 40px;
  }
  .main-header .main-nav .main-nav__list {
    min-width: 478px;
  }
  .main-header .main-nav .main-nav__item--activ {
    border-bottom: 2px solid #ffffff;
  }
  .main-header .main-nav .main-nav__link--white {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 29px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }
}
.main-container {
  position: relative;
}
.main-nav .main-nav__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.promo-background-color {
  width: 320px;
  margin: 0 auto;
  background: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85));
  background-repeat: no-repeat;
  background-size: 320px 302px;
}
.promo {
  width: 320px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../image/index-images/index-jpg/index-promo-bg-cat.jpg");
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: 480px;
  background-size: 320px 302px;
  margin-bottom: 20px;
}
.promo .promo__box-content {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
.promo .promo__box-content .promo__title {
  margin: 0;
  padding: 25px 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
  text-align: center;
}
.promo .promo__box-content .promo__description {
  margin: 0;
  padding-bottom: 29px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.promo .promo__box-content .promo__button {
  width: 280px;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .promo-background-color {
    background: none;
    width: 768px;
    margin: 0 auto;
  }
  .promo--background-none {
    background-image: none;
  }
  .promo {
    width: 768px;
    min-height: 810px;
    margin: 0 auto;
    margin-top: 30px;
    z-index: -1;
  }
  .promo .promo__box-content {
    position: relative;
    margin: 0;
    padding: 0 30px;
    min-height: 750px;
  }
  .promo .promo__box-content .promo__image-product--tablet {
    position: absolute;
    z-index: -1;
    left: 80px;
    top: 190px;
    background-image: url("../image/index-images/index-png/tablet-promo-products.png");
    width: 709px;
    height: 609px;
    background-repeat: no-repeat;
  }
  .promo .promo__box-content .promo__title {
    margin: 0;
    padding: 0;
    width: 450px;
    min-height: auto;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    text-decoration: none;
    text-transform: none;
    text-align: left;
    margin-left: 81px;
    padding-bottom: 41px;
  }
  .promo .promo__box-content .promo__description {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    margin-left: 81px;
    padding-bottom: 39px;
  }
  .promo .promo__box-content .promo__button {
    width: 244px;
    padding: 14px 0;
    margin-left: 81px;
  }
}
@media (min-width: 1440px) {
  .promo-background-color {
    width: 1440px;
    margin: 0 auto;
  }
  .promo {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    min-height: 694px;
    display: flex;
    flex-direction: row-reverse;
  }
  .promo::before {
    content: "";
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../image/index-images/index-jpg/desktop-index-promo-bg-cat.jpg");
    width: 100%;
    background-color: #68b738;
  }
  .promo .promo__box-content {
    margin: 0;
    padding: 0 110px;
    max-width: 500px;
    display: flex;
    min-height: 694px;
    z-index: 90;
  }
  .promo .promo__box-content .promo__title {
    margin-top: 150px;
  }
  .promo .promo__box-content .promo__image-product--desktop {
    position: absolute;
    width: 552px;
    height: 499px;
    background-repeat: no-repeat;
    left: 560px;
    top: 150px;
    border: none;
  }
}
.container-nutrition-programs {
  margin: 0 auto;
  width: 280px;
  padding: 0 20px;
}
.nutrition-programs .nutrition-programs__wrapper-color {
  margin-bottom: 23px;
  background-color: #f2f2f2;
}
.nutrition-programs .nutrition-programs__wrapper-color:last-child {
  margin-bottom: 0;
}
.nutrition-programs .nutrition-programs__list-cards {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nutrition-programs .nutrition-programs__item {
  position: relative;
  width: 227px;
  min-height: auto;
  margin: 0 auto;
  padding: 30px 0 18px 0;
}
.nutrition-programs .nutrition-programs__item--cat-1::before {
  content: "";
  background-image: url("../../image/index-images/index-svg/cat_back.svg");
  background-repeat: no-repeat;
  padding-right: 80px;
  width: 50px;
  height: 53px;
  position: absolute;
  left: 0;
  top: 21px;
}
.nutrition-programs .nutrition-programs__item--cat-2::before {
  content: "";
  background-image: url("../../image/index-images/index-svg/cat_back-2.svg");
  background-repeat: no-repeat;
  padding-right: 80px;
  width: 50px;
  height: 53px;
  position: absolute;
  left: -10px;
  top: 24px;
}
.nutrition-programs .nutrition-programs__title-cards {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  margin-left: 71px;
}
.nutrition-programs .nutrition-programs__description-cards {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
  text-transform: none;
  width: 227px;
  min-height: 90px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}
.nutrition-programs .nutrition-programs__button-cards {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.nutrition-programs .nutrition-programs__button-cards .nutrition-programs__button-cards-text {
  margin-right: 17px;
}
@media (min-width: 768px) {
  .container-nutrition-programs {
    width: 708px;
    padding: 0 30px;
  }
  .nutrition-programs .nutrition-programs__item {
    box-sizing: border-box;
    min-width: 708px;
    padding: 77px 52px 53px 52px;
  }
  .nutrition-programs .nutrition-programs__item .nutrition-programs__cards {
    margin: 0;
    padding: 0;
    width: 594px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .nutrition-programs .nutrition-programs__item .nutrition-programs__cards .nutrition-programs__title-cards {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
  .nutrition-programs .nutrition-programs__item .nutrition-programs__cards .nutrition-programs__description-cards {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
    text-decoration: none;
    text-transform: none;
    width: 340px;
    border-bottom: none;
  }
  .nutrition-programs .nutrition-programs__item .nutrition-programs__cards .nutrition-programs__button-cards {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }
  .nutrition-programs .nutrition-programs__item .nutrition-programs__cards .nutrition-programs__button-cards .nutrition-programs__button-cards-text {
    margin-right: 25px;
  }
  .nutrition-programs .nutrition-programs__item--tablet-cat-1::before {
    content: "";
    display: block;
    background-image: url("../../image/index-images/index-svg/tablet-cat_back.svg");
    background-repeat: no-repeat;
    width: 200px;
    height: 211px;
    left: 448px;
    top: 40px;
  }
  .nutrition-programs .nutrition-programs__item--tablet-cat-2::before {
    content: "";
    display: block;
    background-image: url("../../image/index-images/index-svg/tablet-cat_back-2.svg");
    background-repeat: no-repeat;
    width: 200px;
    height: 211px;
    left: 412px;
    top: 40px;
  }
}
@media (min-width: 1440px) {
  .container-nutrition-programs {
    width: 1220px;
    padding: 0 110px;
  }
  .nutrition-programs .nutrition-programs__list-cards {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }
  .nutrition-programs .nutrition-programs__list-cards .nutrition-programs__wrapper-color {
    margin: 0;
    padding: 0;
    width: 570px;
    min-height: 372px;
  }
  .nutrition-programs .nutrition-programs__list-cards .nutrition-programs__wrapper-color .nutrition-programs__item {
    width: 570px;
    min-height: 372px;
  }
  .nutrition-programs .nutrition-programs__list-cards .nutrition-programs__wrapper-color .nutrition-programs__item .nutrition-programs__title-cards {
    margin-left: 162px;
    margin-bottom: 63px;
  }
  .nutrition-programs .nutrition-programs__list-cards .nutrition-programs__wrapper-color .nutrition-programs__item .nutrition-programs__description-cards {
    margin: 0;
    padding-bottom: 23px;
  }
  .nutrition-programs .nutrition-programs__list-cards .nutrition-programs__wrapper-color .nutrition-programs__item .nutrition-programs__button-cards {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
  }
  .nutrition-programs .nutrition-programs__list-cards .nutrition-programs__wrapper-color .nutrition-programs__item .nutrition-programs__button-cards .nutrition-programs__button-cards-text {
    margin-right: 28px;
  }
  .nutrition-programs .nutrition-programs__item--desktop-cat-1::before {
    content: "";
    display: block;
    background-image: url("../../image/index-images/index-svg/desktop-cat_back.svg");
    background-repeat: no-repeat;
    width: 200px;
    height: 211px;
    left: 52px;
    top: 40px;
  }
  .nutrition-programs .nutrition-programs__item--desktop-cat-2::before {
    content: "";
    display: block;
    background-image: url("../../image/index-images/index-svg/desktop-cat_back-2.svg");
    background-repeat: no-repeat;
    width: 200px;
    height: 211px;
    left: 33px;
    top: 40px;
  }
}
.about-products {
  margin: 0 auto;
  width: 320px;
}
.about-products .about-products-container {
  width: 280px;
  margin: 0;
  padding: 0 20px;
}
.about-products .about-products__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: none;
}
.about-products .about-products__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
  text-transform: none;
}
.about-products .about-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about-products .about-products__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 278px;
  margin-bottom: 24px;
}
.about-products .about-products__item:last-child {
  margin-bottom: 49px;
}
.about-products .about-products__item .about-products__description {
  width: 198px;
}
.about-products .about-products__item .about-products__image-item {
  width: 60px;
  height: 60px;
}
@media (min-width: 768px) {
  .about-products {
    width: 768px;
    margin: 0 auto;
  }
  .about-products .about-products-container {
    width: 708px;
    padding: 0 30px;
  }
  .about-products .about-products__item {
    position: relative;
    padding-top: 40px;
    padding-bottom: 57px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 246px;
    height: 280px;
    margin-right: 50px;
    margin-bottom: 30px;
    box-sizing: border-box;
    counter-increment: number;
  }
  .about-products .about-products__item::before {
    content: counter(number);
    position: absolute;
    width: 112px;
    height: 280px;
    left: 118px;
    top: 0;
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    z-index: -1;
  }
  .about-products .about-products__item .about-products__image-item {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
  .about-products .about-products__item .about-products__description {
    margin: 0;
    padding: 0;
    width: 245px;
  }
  .about-products .about-products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-reset: number;
  }
}
@media (min-width: 1440px) {
  .about-products {
    width: 1440px;
    margin: 0 auto;
  }
  .about-products .about-products-container {
    width: 1220px;
    padding: 0 110px;
  }
  .about-products .about-products__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-right: 94px;
  }
  .about-products .about-products__list .about-products__item {
    margin: 0;
    width: 250px;
    height: 280px;
    margin-right: 80px;
  }
  .about-products .about-products__list .about-products__item:last-child {
    margin-right: 0;
  }
}
.background-color-gray {
  background: #eaeaea;
}
.example-cat {
  margin: 0 auto;
  padding: 25px 0 40px 0;
  box-sizing: border-box;
  width: 320px;
  display: flex;
  flex-direction: column;
}
.example-cat .example-cat__container {
  width: 280px;
  padding: 0 20px;
}
.example-cat .example-cat__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: inline-block;
  text-align: left;
}
.example-cat .example-cat__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
  text-transform: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.example-cat .example-cat__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.example-cat .example-cat__item {
  box-sizing: border-box;
  position: relative;
  border: 1.5px solid #cdcdcd;
  border-radius: 2px;
  width: 124px;
  height: 56px;
  margin-bottom: 35px;
}
.example-cat .example-cat__title-numbers {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 14px;
}
.example-cat .example-cat__description--absolute {
  width: 77px;
  position: absolute;
  text-align: center;
  top: 40px;
  left: 20px;
  background: #eaeaea;
  padding: 0 5px 0 5px;
}
.example-cat .example-cat__title-total {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  padding-bottom: 40px;
  text-align: center;
  margin: 0 auto;
}
.example-cat .example-cat__slider-devace {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.example-cat .example-cat__form-toggle {
  width: 85px;
  height: 14px;
}
.example-cat .example-cat__title-progress {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .background-color-gray {
    background: linear-gradient(#ffffff 50%, #eaeaea 50%);
  }
  .example-cat {
    width: 768px;
    margin: 0 auto;
  }
  .example-cat .example-cat__container {
    width: 708px;
    padding: 0 30px;
  }
  .example-cat .example-cat__list {
    justify-content: flex-start;
    align-items: center;
  }
  .example-cat .example-cat__item {
    margin-right: 42px;
  }
  .example-cat .example-cat__description--absolute {
    background: #ffffff;
  }
  .example-cat .example-cat__title-total {
    margin: 0;
    margin-left: auto;
    width: 134px;
    text-align: right;
  }
  .example-cat .example-cat__slider {
    width: 591px;
    margin: 0 auto;
  }
  .example-cat .example-cat__slider-devace {
    justify-content: space-between;
  }
  .example-cat .example-cat__form-toggle {
    width: 426px;
  }
}
@media (min-width: 1440px) {
  .background-color-gray {
    background: linear-gradient(#ffffff 20%, #eaeaea 20%);
  }
  .example-cat {
    width: 1440px;
    flex-direction: column;
  }
  .example-cat .example-cat__container {
    position: relative;
    width: 1220px;
    padding: 0 110px;
    display: flex;
    flex-direction: column;
  }
  .example-cat .example-cat__container p {
    width: 436px;
  }
  .example-cat .example-cat__container .example-cat__title {
    margin-bottom: 146px;
  }
  .example-cat .example-cat__container .example-cat__list {
    width: 436px;
    min-height: auto;
  }
  .example-cat .example-cat__container .example-cat__description--absolute {
    background: #eaeaea;
  }
  .example-cat .example-cat__container .example-cat__title-total {
    margin: 0;
    padding: 0;
    width: auto;
    margin-right: auto;
  }
  .example-cat .example-cat__container .example-cat__slider {
    width: 591px;
    min-height: 576px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.contacts {
  margin: 0 auto;
  padding: 26px 0 26px 0;
  box-sizing: border-box;
  width: 320px;
  min-height: 112px;
}
.contacts .contacts__container {
  display: flex;
  align-items: center;
  width: 280px;
  padding: 0 20px;
}
.contacts .contacts__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
}
.contacts .contacts__info {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  margin-left: auto;
}
@media (min-width: 768px) {
  .contacts {
    margin: 0 auto;
    width: 768px;
    min-height: 199px;
    display: flex;
    align-items: center;
  }
  .contacts .contacts__container {
    width: 708px;
    padding: 0 30px;
    display: flex;
    align-items: center;
  }
  .contacts .contacts__title {
    width: 180px;
    text-align: left;
    margin-left: 38px;
  }
  .contacts .contacts__address {
    width: 180px;
    margin-left: auto;
    text-align: right;
    margin-right: 38px;
  }
}
@media (min-width: 1440px) {
  .contacts {
    position: absolute;
    width: 565px;
    min-height: 198px;
    left: 110px;
    bottom: 50px;
    z-index: 100;
    background-color: #ffffff;
  }
}
.location {
  position: relative;
}
.location .location__map {
  display: block;
  border: none;
  z-index: -3;
}
.location .location__logo {
  position: absolute;
  left: 46%;
  top: 41%;
}
.location .location__link {
  display: block;
  width: 57px;
  height: 57px;
}
@media (min-width: 768px) {
  .location__container {
    margin: 0 auto;
    width: 768px;
    min-height: 400px;
  }
  .location__container .location__container-content {
    width: 708px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .location__container {
    margin: 0 auto;
    width: 1440px;
    min-height: 400px;
  }
  .location__container .location__container-content {
    width: 1220px;
    padding: 0 110px;
  }
}
.container-footer {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.background-clor-gray {
  background-color: #f2f2f2;
}
.main-footer {
  padding: 39px 0 22px 0;
  box-sizing: border-box;
}
.main-footer__logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9d9;
}
.main-footer__list-social {
  width: auto;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 21px;
}
.main-footer__item {
  margin-right: 24px;
}
.main-footer__item:last-child {
  margin-right: 0;
}
.main-footer__logo-html-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.main-footer__logo-html-academy-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
  text-transform: none;
}
@media (min-width: 768px) {
  .container-footer {
    width: 708px;
    min-height: 147px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .main-footer {
    padding: 55px 0;
    box-sizing: border-box;
  }
  .main-footer__logo-text {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
  .main-footer__list-social {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }
  .main-footer__logo-html-academy-text {
    margin-right: 22px;
  }
}
@media (min-width: 1440px) {
  .container-footer {
    width: 1220px;
  }
}
.catalog-products {
  width: 320px;
  margin: 0 auto;
}
.catalog-products .catalog-products__container {
  width: 280px;
  padding: 0 20px;
}
.catalog-products .catalog-products__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 27px 0 41px 0;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: none;
}
.catalog-products .catalog-products__sub-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.catalog-products .catalog-products__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #444444;
  text-decoration: none;
  text-transform: none;
}
.catalog-products .catalog-products__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.catalog-products .catalog-products__item {
  margin-bottom: 20px;
}
.catalog-products .products-card {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  width: 280px;
  height: 209px;
  display: grid;
  grid-template-columns: 32px 77px 32px 72px 69px;
  grid-template-rows: 22px 33px 28px 17px 17px 25px 40px 25px;
}
.catalog-products .products-card:first-child {
  border-top: none;
}
.catalog-products .products-card .products-card__image--500g {
  grid-row: 2/8;
  grid-column: 2/3;
}
.catalog-products .products-card .products-card__image--1000g {
  grid-row: 2/8;
  grid-column: 2/3;
}
.catalog-products .products-card .products-card__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  min-width: 76px;
  min-height: 41px;
  grid-row: 1/3;
  grid-column: 4/5;
  text-align: left;
}
.catalog-products .products-card .products-card__body {
  margin: 0;
  padding: 0;
  width: 142px;
  height: 44px;
  grid-row: 3/6;
  grid-column: 4/6;
}
.catalog-products .products-card .products-card__row--1,
.catalog-products .products-card .products-card__row--2,
.catalog-products .products-card .products-card__row--3 {
  margin: 0;
  padding: 0;
}
.catalog-products .products-card .products-card__parameter--left {
  text-align: left;
}
.catalog-products .products-card .products-card__parameter--right {
  text-align: right;
}
.catalog-products .products-card .products-card__button {
  grid-column: 1/6;
  grid-row: 7/8;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.catalog-products .products-card .products-card__row {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #444444;
  text-decoration: none;
  text-transform: none;
}
.catalog-products .products-card .products-card__sub-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.catalog-products .products-card .products-card__description {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #444444;
  text-decoration: none;
  text-transform: none;
  margin-bottom: 21px;
}
.catalog-products .products-card--more {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.catalog-products .products-card--more::before {
  position: absolute;
  left: 125px;
  top: 20px;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  cursor: pointer;
}
.catalog-products .products-card--more::after {
  position: absolute;
  left: 125px;
  top: 20px;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  transform: rotate(90deg);
  cursor: pointer;
}
.catalog-products .products-card--more .products-card__button {
  height: 40px;
}
@media (min-width: 768px) {
  .catalog-products {
    width: 768px;
    margin: 0 auto;
  }
  .catalog-products .catalog-products__container {
    width: 708px;
    padding: 0 30px;
  }
  .catalog-products .catalog-products__title {
    border: none;
    text-align: left;
    margin-left: 38px;
  }
  .catalog-products .catalog-products__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 60px;
  }
  .catalog-products .catalog-products__item {
    min-height: 511px;
    width: 324px;
    display: flex;
    justify-content: center;
  }
  .catalog-products .catalog-products__item--gray {
    background: linear-gradient(#ffffff 15%, #f2f2f2 15%);
  }
  .catalog-products .products-card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 464px;
    border: none;
  }
  .catalog-products .products-card .products-card__image--500g {
    margin-top: 30px;
    width: 161px;
    height: 172px;
    margin-bottom: 34px;
  }
  .catalog-products .products-card .products-card__image--1000g {
    width: 168px;
    height: 200px;
    margin-bottom: 34px;
  }
  .catalog-products .products-card .products-card__title {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    width: 154px;
    text-align: center;
    margin-bottom: 21px;
  }
  .catalog-products .products-card .products-card__body {
    width: 100%;
    margin-bottom: 33px;
  }
  .catalog-products .products-card .products-card__parameter {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #444444;
    text-decoration: none;
    text-transform: none;
    padding: 5px 0 5px 0;
  }
  .catalog-products .products-card--more {
    margin: 0;
    margin-top: 81px;
    width: 340px;
    padding: 0 30px;
    outline: 2px solid #f2f2f2;
    min-height: 430px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .catalog-products .products-card--more::before {
    position: absolute;
    left: 132px;
    top: 70px;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #d3d3d3;
    cursor: pointer;
  }
  .catalog-products .products-card--more::after {
    position: absolute;
    left: 132px;
    top: 70px;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #d3d3d3;
    transform: rotate(90deg);
    cursor: pointer;
  }
  .catalog-products .products-card--more .products-card__sub-title {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 160px;
    margin-bottom: 23px;
    width: 134px;
    text-align: center;
  }
  .catalog-products .products-card--more .products-card__description {
    width: 167px;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #444444;
    text-decoration: none;
    text-transform: none;
    margin-bottom: 77px;
    flex: 0 1 auto;
  }
}
@media (min-width: 1440px) {
  .main-header .main-nav .main-nav__item--activ--green {
    border-bottom: 2px solid #68b738;
  }
  .catalog-products {
    width: 1440px;
    margin: 0 auto;
    margin-top: 70px;
  }
  .catalog-products .catalog-products__container {
    width: 1220px;
    padding: 0 110px;
    display: flex;
    flex-wrap: wrap;
  }
  .catalog-products .catalog-products__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 63px;
    margin-bottom: 76px;
  }
  .catalog-products .catalog-products__item {
    width: 245px;
    height: 511px;
  }
  .catalog-products .products-card--more::before,
  .catalog-products .products-card--more::after {
    left: 87px;
  }
  .catalog-products .catalog-products__item--gray {
    padding: 0 30px;
    box-sizing: border-box;
  }
  .catalog-products .products-card {
    width: 245px;
  }
  .catalog-products .products-card .products-card__sub-title {
    margin-top: 161px;
  }
}
.add-products {
  width: 320px;
  margin: 0 auto;
}
.add-products .add-products__container {
  width: 280px;
  padding: 0 20px;
}
.add-products .add-products__title {
  margin: 0;
  padding-bottom: 20px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
}
.add-products .add-products__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.add-products .add-products__item {
  margin-bottom: 10px;
}
.add-products .card-add {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ebebeb;
}
.add-products .card-add__parameter--left {
  text-align: left;
}
.add-products .card-add__parameter--right {
  text-align: right;
}
.add-products .card-add__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-decoration: none;
  text-transform: uppercase;
}
.add-products .products-card-add__button {
  width: 100%;
  padding: 10px 0 10px 0;
  margin-bottom: 20px;
}
.add-products .card-add__row {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  color: #444444;
  text-decoration: none;
  text-transform: none;
}
.add-products .add-products__gift-box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../image/catalog-images/catalog-images-jpg/gift-cat-image-.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 280px;
  min-height: 289px;
}
.add-products .add-products__gift-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .add-products {
    width: 768px;
    margin: 0 auto;
  }
  .add-products .add-products__container {
    width: 708px;
    padding: 0 30px;
  }
  .add-products .add-products__title {
    border: none;
    text-align: left;
    margin-left: 38px;
  }
  .add-products .add-products__list {
    padding: 0 38px;
    margin-bottom: 69px;
  }
  .add-products .card-add {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .add-products .card-add__title {
    width: 163px;
  }
  .add-products .card-add__body {
    width: 225px;
  }
  .add-products .add-products__gift-box-content {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../image/catalog-images/catalog-images-jpg/gift-cat-image-.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 708px;
    min-height: 200px;
  }
}
@media (min-width: 1440px) {
  .add-products {
    width: 1440px;
    margin: 0 auto;
  }
  .add-products .add-products__container {
    width: 1220px;
    padding: 0 110px;
    display: flex;
    flex-wrap: wrap;
  }
  .add-products .add-products__title {
    margin: 0;
    padding: 0;
    margin-right: 100px;
  }
  .add-products .add-products__list {
    width: 896px;
    padding: 0;
    margin-right: 79px;
    margin-bottom: 86px;
  }
  .add-products .add-products__gift-box-content {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../image/catalog-images/catalog-images-jpg/gift-cat-image-.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 245px;
    min-height: 288px;
    object-fit: cover;
  }
  .add-products .card-add {
    align-items: center;
  }
  .add-products .card-add__title {
    margin: 0;
    padding: 0;
  }
  .add-products .products-card-add__button {
    width: 244px;
  }
}
.contacts-form__container {
  margin: 0 auto;
  background-color: #f2f2f2;
}
.form-cat {
  min-height: 160px;
}
.form-food {
  min-height: 120px;
}
.form-user {
  min-height: 105px;
}
.form-comments {
  min-height: 105px;
}
.form-parametr {
  min-height: 180px;
}
.filter-programs {
  width: 320px;
  margin: 0 auto;
}
.filter-programs .filter-programs__form-group {
  width: 280px;
  margin: 0 20px;
}
.filter-programs .filter-programs__form-group .filter-programs__form {
  margin: 0;
  padding: 0;
}
.filter-programs .filter-programs__form-group .filter-programs__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: none;
}
.filter-programs .filter-programs__form-group .filter-programs__sub-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.filter-programs .filter-programs__form-group .filter-programs__title-form {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.filter-programs .filter-programs__form-group .filter-programs__input-placeholder {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.filter-programs .filter-programs__form-group .filter-programs__title-input {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.filter-programs .filter-programs__form-group .filter-programs__message {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
  text-transform: none;
}
@media (min-width: 768px) {
  .form-cat {
    width: 630px;
  }
  .form-food {
    width: 630px;
  }
  .form-user {
    width: 630px;
  }
  .form-comments {
    width: 630px;
  }
  .form-parametr {
    width: 630px;
  }
  .filter-programs {
    width: 768px;
    margin: 0 auto;
  }
  .filter-programs .filter-programs__form-group {
    width: 708px;
    margin: 0 30px;
  }
}
@media (min-width: 1440px) {
  .form-cat {
    width: 1200px;
  }
  .form-food {
    width: 1200px;
  }
  .form-user {
    width: 1200px;
  }
  .form-comments {
    width: 1200px;
  }
  .form-parametr {
    width: 1200px;
  }
  .filter-programs {
    width: 1440px;
    margin: 0 auto;
  }
  .filter-programs .filter-programs__form-group {
    width: 1220px;
    margin: 0 110px;
  }
  .filter-programs .filter-programs__container-form {
    display: flex;
  }
}
.contacts-gray-block__container {
  margin: 0 auto;
  background-color: #f2f2f2;
}
/*# sourceMappingURL=style.css.map */
