.about-products {
  margin: 0 auto;
  width: 320px;
  outline: 3px solid #05c4f4;
  outline-offset: -3px;

  .about-products-container {
    width: 280px;
    margin: 0;
    padding: 0 20px;
  }

  .about-products__title {
    .fz-h2();
  }

  .about-products__description {
    .fz-content();
  }

  .about-products__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .about-products__item {
    margin: 0;
    outline: 3px solid #05c4f4;
    outline-offset: -3px;
  }
}

@media (min-width: @tablet-width) {
  .about-products {
    width: 768px;
    margin: 0 auto;

    .about-products-container {
      width: 708px;
      padding: 0 30px;
    }

    .about-products__item {
      width: 230px;
      height: 280px;
      margin-right: 50px;
      margin-bottom: 30px;
    }

    .about-products__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

@media (min-width: @desktop-width) {
  .about-products {
    width: 1440px;
    margin: 0 auto;

    .about-products-container {
      width: 1220px;
      padding: 0 110px;
    }

    .about-products__list {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}
