.about-products {
  margin: 0 auto;
  width: 320px;
  outline: 3px solid #05c4f4;
  outline-offset: -3px;

  .about-products-container {
    width: 280px;
    margin: 0;
    padding: 0 20px;
  }

  .about-products__title {
    .fz-h2();
  }

  .about-products__description {
    .fz-content();
  }

  .about-products__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .about-products__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 278px;
    margin-bottom: 24px;
    outline: 3px solid #05c4f4;
    outline-offset: -3px;

    &:last-child {
      margin-bottom: 0;
    }

    .about-products__description {
      width: 198px;
    }

    .about-products__image-item {
      width: 60px;
      height: 60px;
    }
  }
}

@media (min-width: @tablet-width) {
  .about-products {
    width: 768px;
    margin: 0 auto;

    .about-products-container {
      width: 708px;
      padding: 0 30px;
    }

    .about-products__item {
      position: relative;
      padding-top: 40px;
      padding-bottom: 57px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 246px;
      height: 280px;
      margin-right: 50px;
      margin-bottom: 30px;
      box-sizing: border-box;
      counter-increment: number;

      &::before {
        content: counter(number);
        position: absolute;
        width: 112px;
        height: 280px;
        left: 118px;
        top: 0;
        font-family: "Oswald", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 280px;
        line-height: 280px;
        text-align: center;
        color: #f2f2f2;
        z-index: -1;
      }

      .about-products__image-item {
        width: 80px;
        height: 80px;
        margin-bottom: 31px;
      }

      .about-products__description {
        margin: 0;
        padding: 0;
        width: 245px;
      }
    }

    .about-products__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      counter-reset: number;
    }
  }
}

@media (min-width: @desktop-width) {
  .about-products {
    width: 1440px;
    margin: 0 auto;

    .about-products-container {
      width: 1220px;
      padding: 0 110px;
    }

    .about-products__list {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
      margin-right: 94px;

      .about-products__item {
        margin: 0;
        width: 250px;
        height: 280px;
        margin-right: 80px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
