
.contacts {
  margin: 0 auto;
  padding: 26px 0 26px 0;
  box-sizing: border-box;
  width: 320px;
  min-height: 112px;

  .contacts__container {
    display: flex;
    align-items: center;
    width: 280px;
    padding: 0 20px;
  }

  .contacts__title {
    .fz-h4(@color: @color-title-5);
    text-align: left;
  }

  .contacts__info {
    .fz-content();
    text-align: left;
    margin-left: auto;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    margin: 0 auto;
    width: 768px;
    min-height: 199px;
    display: flex;
    align-items: center;

    .contacts__container {
      width: 708px;
      padding: 0 30px;
      display: flex;
      align-items: center;
    }

    .contacts__title {
      width: 180px;
      text-align: left;
      margin-left: 38px;
    }

    .contacts__address {
      width: 180px;
      margin-left: auto;
      text-align: right;
      margin-right: 38px;
    }
  }
}


@media (min-width: @desktop-width) {
  .contacts {
    position: absolute;
    width: 565px;
    min-height: 198px;
    left: 110px;
    bottom: 50px;
    z-index: 100;
    background-color: #ffffff;
  }
}
