.example-cat {
  margin: 0 auto;
  width: 280px;
  padding: 0 20px;
  background-color: #eaeaea;

  .example-cat__title {
    .fz-h2();
  }

  .example-cat__title-numbers {
    .fz-h4();
  }

  .example-cat__description {
    .fz-content();
  }

  .example-cat__title-total {
    .fz-h5();
  }

  .example-cat__title-progress {
    .fz-h4();
  }
}


@media (min-width: @tablet-width) {
  .example-cat {
    width: 708px;
    padding: 0 30px;
  }
}

@media (min-width: @desktop-width) {
  .example-cat {
    width: 1220px;
    padding: 0 110px;

  }
}
