.example-cat {
  margin: 0 auto;

  .example-cat__wrapper {
    margin: 0 auto;
    width: 280px;
    padding: 0 20px;
    outline: 3px solid #05c4f4;
    outline-offset: -3px;
    display: flex;
    flex-direction: column;
    background-color: @background-block;
  }

  .example-cat__title {
    .fz-h2();
  }

  .example-cat__title-numbers {
    .fz-h4();
  }

  .example-cat__description {
    .fz-content();
  }

  .example-cat__title-total {
    .fz-h5();
  }

  .example-cat__title-progress {
    .fz-h4();
  }
}

@media (min-width: @tablet-width) {
  .example-cat .example-cat__wrapper {
    width: 708px;
    min-height: auto;
    padding: 0 30px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .example-cat .example-cat__wrapper {
    width: 1220px;
    padding: 0 110px;
    flex-direction: row;
  }
}
