.container-footer {
  outline: 3px solid #05c4f4;
  outline-offset: -3px;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.background-clor-gray {
  background-color: @background-block;
}

.main-footer {
  padding: 39px 0 22px 0;
  box-sizing: border-box;
}

.main-footer__logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__list-social {
  width: auto;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 21px;
}

.main-footer__item {
  margin-right: 24px;

  &:last-child {
    margin-right: 0;
  }
}

.main-footer__logo-html-academy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.main-footer__logo-html-academy-text {
  .fz-content();
}


@media (min-width: @tablet-width) {
  .container-footer {
    width: 708px;
    min-height: 147px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .main-footer {
    padding: 55px 0;
    box-sizing: border-box;
  }

  .main-footer__logo-text {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }

  .main-footer__list-social {
    border-bottom: none;
    margin: 0;
    padding: 0;
  }

  .main-footer__logo-html-academy-text {
    margin-right: 22px;
  }
}

@media (min-width: @desktop-width) {
  .container-footer {
    width: 1220px;
  }
}
