.main-header {
  outline: 3px solid #05c4f4;
  outline-offset: -3px;
  display: flex;
  flex-direction: column;

  .main-nav__toggle {
    display: none;
  }

  .main-header__wrapper {
    outline: 3px solid #05c4f4;
    outline-offset: -3px;
    display: flex;
    align-items: center;
    max-width: 280px;
    min-height: 38px;
  }

  .main-header__logo {
    width: 33.32px;
    height: 37.61;
  }

  .main-header__logo-text {
    width: 101px;
    height: 18px;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 280px;
  }
}

@media (min-width: @tablet-width) {
  .page-container {
    width: 708px;
    padding: 0 30px;
  }

  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-header__wrapper {
    display: flex;
    min-width: 174px;
    min-height: 52px;
    justify-content: space-between;
  }

  .main-nav {
    display: flex;
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .page-container {
    width: 1220px;
    padding: 0 110px;
  }

  .main-header__wrapper {
    width: 202px;
    min-height: 59px;
  }

  .main-nav__wrapper {
    width: 478px;
    min-height: 40px;
  }
}

