.main-footer {
  background-color: #F2F2F2;

  .main-footer__logo-html-academy-text {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
  }

  .main-footer__logo-html-academy {
    text-decoration: none;
  }
}
