@font-face {
  src: url("../../fonts/oswaldregular.woff2") format("woff2");
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  src: url("../../fonts/oswaldmedium.woff2") format("woff2");
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@background-body: #ffffff;
@background-block: #f2f2f2;
@background-wrapper: rgba(104, 183, 56, 0.85);

.button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.button--green {
  background-color: @background-wrapper;
  color: #ffffff;
}

.button--gray {
  background-color: @background-block;
  color: #444444;
}

.background-image-block() {
  background-image: url("../../image/images/index-images/index-jpg/index-promo-bg-cat.jpg");
  background-color: @background-wrapper;
}

.background-image-block-catalog() {
  background-image: url("../../image/images/catalog-images/catalog-images-jpg/gift-cat-image-.jpg");
}

.fz-menu() {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.fz-title-numbers() {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.fz-h1() {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}


.fz-h2() {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}

.fz-h3() {
  font-family: "Oswald",
    sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.fz-h4() {
  font-family: "Oswald",
    sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.fz-h4-input-placeholder() {
  font-family: "Oswald",
    sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}


.fz-h5() {
  font-family: "Oswald",
    sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.fz-description-excat() {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
}

.fz-content() {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.fz-cards-content() {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 320px;
  min-height: 100%;
}
