/*.fonts-title(@size; @heght; weight; @color; @decoration) {
  font-family: "Oswald",
    sans-serif;
  font-style: normal;
  font-size: @size;
  line-height: @height;
  font-weight: @weight;
  text-align: center;
  color: @color;
  text-decoration: @decoration;
}

.fonts-text(@size; @heght; @weight; @color;
@decoration) {
  font-family: "Arial",
    sans-serif;
  font-style: normal;
  font-size: @size;
  line-height: @height;
  font-weight: @weight;
  text-align: center;
  color: @color;
  text-decoration: @decoration;
}
*/
@font-face {
  src: url("../../fonts/oswaldregular.woff2") format("woff2");
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  src: url("../../fonts/oswaldmedium.woff2") format("woff2");
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
.button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}
.button--green {
  background-color: rgba(104, 183, 56, 0.85);
  color: #ffffff;
}
.button--gray {
  background-color: #f2f2f2;
  color: #444444;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  height: 100%;
}
.page-container {
  margin: 0 auto;
  width: 280px;
  padding: 0 20px;
}
.page__body {
  min-width: 320px;
  min-height: 100%;
}
.main-nav .main-nav__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  list-style: none;
}
.promo .promo__container {
  background-image: url("../../image/images/index-images/index-jpg/index-promo-bg-cat.jpg");
  background-color: rgba(104, 183, 56, 0.85);
}
.promo .promo__wrapper-bacground-color {
  background-color: rgba(104, 183, 56, 0.85);
}
.promo .promo__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}
.promo .promo__description {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  color: #ffffff;
}
.nutrition-programs .nutrition-programs__cards {
  background-color: #f2f2f2;
}
.nutrition-programs .nutrition-programs__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}
.nutrition-programs .nutrition-programs__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.nutrition-programs .nutrition-programs__button-icon {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.about-products .about-products__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}
.about-products .about-products__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.example-cat {
  background-color: #eaeaea;
}
.example-cat .example-cat__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}
.example-cat .example-cat__title-numbers {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}
.example-cat .example-cat__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.example-cat .example-cat__title-total {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.example-cat .example-cat__title-progress {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.contacts .contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.contacts .contacts__info {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.main-footer {
  background-color: #f2f2f2;
}
.main-footer .main-footer__logo-html-academy-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.main-footer .main-footer__logo-html-academy {
  text-decoration: none;
}
.catalog-products .catalog-products__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}
.catalog-products .products-cards__title-cards {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.catalog-products .products-cards__cards-content {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.catalog-products .catalog-products__title-cards {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.catalog-products .catalog-products__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
.products-add .products-add__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}
.products-add .products-cards-add__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.products-add .products-cards-add__crds-content {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.gift .gift__gift-container {
  background-image: url("../../image/images/catalog-images/catalog-images-jpg/gift-cat-image-.jpg");
  background-color: rgba(104, 183, 56, 0.85);
}
.gift .gift__wrapper-background-color {
  background-color: rgba(104, 183, 56, 0.85);
}
.gift .gift__gift-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  color: #ffffff;
}
.contacts-form__container {
  background-color: #f2f2f2;
}
.filter-programs .filter-programs__filter-title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;
}
.filter-programs .filter-programs__filter-description-title {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.filter-programs .filter-programs__title-group {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.filter-programs .filter-programs__input-placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}
.contacts-gray-block__container {
  background-color: #f2f2f2;
}
/*# sourceMappingURL=style.css.map */
