.gift {
  margin: 0 auto;

  .gift__gift-container {
    .background-image-block-catalog();
    background-color: @background-wrapper;
  }

  .gift__wrapper-background-color {
    background-color: @background-wrapper;
  }

  .gift__title {
    .fz-h4(@color:@color-title-3);
  }
}
